.kategori a {
  position: relative;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.uncheck1 a,
.uncheck2 a {
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.kluargakanan {
  height: 100%;
  width: 100%;
}

.kluargakanan .checkbox {
  margin: auto;
  width: 300px;
  height: auto;
  flex-shrink: 0;
  background-color: #212121;
  border-radius: 30px;
  padding: 7px 12px 7px 12px;
  color: #ffffff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.kluargakanan .checkbox .minibox {
  overflow: hidden;
  width: 235px;
  height: 30px;
  margin: 10px auto;
  background-color: #212121;
  padding: 7px 5px 7px 5px;
  font-size: 18px;
}

.checkbox .lebih {
  width: 254px;
  height: 10px;
  text-align: center;
}

.services {
  position: relative;
  margin-top: 10px;
  bottom: 5px;
  right: 240px;
  font-size: 20px;
  height: 25px;
  width: 100px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}