<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/assets/css/detail.css">
  <title>Moviebes</title>

  <!-- fonts google -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

  <!-- icon -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
  <div class="container">

    <div class="sidebar">
      <div class="header">
        <div class="list-item">
          <a href="/src/views/index.html">
            <img src="/img/svg/moviebes.svg" alt="" class="icon1">

          </a>
        </div>



        <div class="ilustrasi">
          <img src="" alt="">
        </div>
      </div>



      <div class="main">
        <div class="list-item">
          <a href="/src/views/homepage.html">
            <i class="ri-home-line"></i>
            <span class="deskripsi">Home</span>
          </a>
        </div>

        <div class="list-item">
          <a href="/src/views/homepage.html">
            <i class="ri-movie-line"></i>
            <span class="deskripsi">Movies</span>
          </a>
        </div>

        <div class=" list-item">
          <a href="/src/views/homepage.html">
            <i class="ri-tv-2-line"></i>
            <span class="deskripsi">TV Series</span>
          </a>
        </div>

        <div class="list-item">
          <a href="/src/views/homepage.html">
            <i class="ri-calendar-2-line"></i>
            <span class="deskripsi">Upcoming</span>
          </a>
        </div>

        <br><br><br><br><br><br><br><br><br>

        <div class="list-item">
          <a href="/index.html">
            <i class="ri-logout-box-r-line"></i>
            <span class="deskripsi">Log Out</span>
          </a>
        </div>
      </div>

    </div>

    <div class="main-konten">
      <div class="searchbar">
        <i class="ri-search-line"></i>
        <input type="text" placeholder="Search For Movies, TV Shows ...">
      </div>
      <div class="notifikasi">
        <i class="ri-notification-line"></i>
      </div>
      <div class="profil">
        <img src="/img/cloud-clouds.gif" alt="Profil Pengguna">
      </div>
    </div>

    <section class="video-konten">
      <iframe src="https://www.youtube.com/embed/giXco2jaZ_4?si=ckNnPkx2oXqYl36T" title="Trailer" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </section>

    <section class="judul-video">
      <p class="judul">Top Gun: Maverick ~ 2022 ~ PG-13 ~ 2h 10m </p>
      <a href="#">
        <span class="genre1">Drama</span>
      </a>
      <a href="#">
        <span class="genre2">Action</span>
      </a>
      <p class="isifilm">
        Rating: 8.5 | 350k <br><br>
        After thirty years, Maverick is still pushing the envelope as a top naval aviator,
        but must confront ghosts of his past when he leads TOP GUN's elite graduates
        on a mission that demands the ultimate sacrifice from those chosen to fly it.</p>

      <div class="horizontal1"></div>

      <p class="director">
        Director :
      <div class="nama">Joseph Kosinski</div>
      </p>

      <div class="horizontal2"></div>

      <p class="writers">
        Writers :
      <div class="penulis">Jim Cash, Jack Epps Jr, Peter Craig</div>
      </p>

      <div class="horizontal3"></div>

      <p class="pemain">
        Stars :
      <div class="pemeran">Tom Cruise, Jennifer Connelly, Miles Teller</div>
      </p>

      <p class="rate">
        Top rated movie #65
      </p>

      <p class="award">
        Awards 9 nomination
      </p>

      <p class="Cast">
        Top Cast >
      </p>

    </section>

    <section class="rating">
      <div class="hearth">
        <a href="#">
          <span class="love"></span>
          <i class="ri-heart-line" style="color: #666;"></i>
        </a>
      </div>

      <div class="share">
        <a href="#">
          <span class="berbagi"></span>
          <i class="ri-share-line" style="color: #666;"></i>
        </a>
      </div>

      <div class="star">
        <a href="#">
          <span class="bintang"></span>
          <i class="ri-star-line" style="color: #666;"></i>
        </a>
      </div>

      <div class="bookmark">
        <a href="#">
          <span class="simpan"></span>
          <i class="ri-bookmark-line" style="color: #666;"></i>
        </a>
      </div>

      <div class="tiket">
        <a href="#">
          <i class="ri-ticket-2-line" style="color: #FFF;"></i>
          <span class="tiket1"> See Showtimes</span>
        </a>
      </div>

      <div class="watchopsion">
        <a href="#">
          <i class="ri-list-check" style="color: #FFF;"></i>
          <span class="tiket2">More Watch Options</span>
        </a>
      </div>


    </section>



  </div>

</body>

</html>